<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RandoFun.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A5B9BF482DF140B500FF2010</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5B9BF5E2DF140BD00FF2010</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5B9BF682DF140BD00FF2010</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
